<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel=" stylesheet" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <header id="encabezado">
            <h1>😈😈😈😈😈</h1>
        </header>
        <div class="menu">
            <div class="itemmenu" >
                <a href="/3er semestre/prog web/elblok/index.html">Home</a>
            </div>
            <div class="itemmenu">
                <a href="/3er semestre/prog web/elblok/secciones.html">Secciones</a>
            </div>
            <div class="itemmenu">
                <a href="/3er semestre/prog web/elblok/nosotros.html">Nosotros</a>
            </div>
            <div class="itemmenu">
                <a href="/3er semestre/prog web/elblok/contacto.html">Contacto</a>
            </div>
            <div class="itemmenu">
                <a href="/3er semestre/prog web/elblok/login.html">Login</a>

            </div>

        </div>

        <section class="postcontainer">
            <article>
                
                
                <img src="img/The_Death.jpg"  alt="ignar bergman 7 sellos">
                <h2>🔥👺♟️♟️🙎🏼‍♂️🔥 </h2>
                <p>🎬⭐⭐⭐⭐⭐</p>
                <a href="https://sv.wikipedia.org/wiki/Det_sjunde_inseglet" target="_blank">7777777</a>
            </article>
            <article>
                
                <img src="img/laurales haunted.jpg"  alt="laura haunted">
                <h2>🖤🎼🖤🎤🖤🗡️🖤🍦🖤👯🏼‍♀️🖤🤖🖤</h2>
                <p>🎼🎼🎼🎼🎼</p>
                <a href="https://www.youtube.com/watch?v=879ysA4h9r4" target="_blank">👻👻buuh</a>
                
            </article>
            <article>
                
                
                <img src="img/1e9517bc-8ebb-4fa6-a636-eca19b25563b.jpg"  alt="meme usm">
                <h2>🎖️🍫🔫🤡☠️</h2>
                <p>🤡🤡🤡🤡🤡</p>
                <a href="https://noticias.usm.cl/2019/08/12/usm-se-ubica-dentro-del-5-del-top-mundial-segun-el-ranking-mundial-de-universidades-cwur/" target="_blank">Prestigio</a>
            </article>
            <article>
                <img src="img/QRQR.png"  alt="qr">
                <h2>☠️🤡☠️🤡☠️🤡</h2>
                <p>🚫‼️🚫‼️🚫‼️</p>
                <a href="" target="_blank">❔???❔</a>
            </article>
            <article >
                <div class="divgriffith"></div>
                <!-- <img  class="griffith" src="img/eclipse.jpg"  alt="griffith"> -->
                <h2>🔥👿🕷️🧛🏼‍♂️🧍🏽‍♀️💔🙎🏻‍♂️🌕👿🔥</h2>
                <p>💔💔💔💔💔</p>
                <a href="https://pbs.twimg.com/media/E-DJ7qPWUAAAiXL?format=jpg&name=large" target="_blank">sadge</a>
            </article>
            <article >
                <img  class="txt" src="img/sadasd.gif"  alt="">
                <h2>🦹🏾‍♂️🐏🏟️🤹🏾‍♂️</h2>
                <p>⚽⚽⚽⚽</p>
                <a href="" target="_blank">txt</a>
            </article>
        </section>
        <footer>
            <section>
            
                <a href="#encabezado">2022 el blok</a>
            </section>
            <p>Prog Web</p>
        </footer>
    </body>
</html>



